[2015-11-17 16:24] vonnieda opened #1 "X86_32 missing valid Windows pattern for os.arch"
Reported by @phrack at https://github.com/PatternConsulting/opencv/issues/11

New versions of Oracle's 32-bit JRE for Windows often have os.arch set to x86 (x86_64 being the 64-bit version). It appears "x86" needs to be added to the list of patterns in this line: https://github.com/PatternConsulting/opencv/blob/58d13dfb7f724c041dcf8af4f62ed2a8c2da6fd1/src/main/java/nu/pattern/OpenCV.java#L65. This

[2015-11-17 23:08] vonnieda commented on #1
@phrack If you can send me a pull request that you have verified as working I can push a release tonight. I don't have a 32 bit VM to test with so that would help a lot.

[2015-11-18 13:21] phrack commented on #1
Thanks for the heads up. It will likely take me a few days to try this because I personally don't have a Windows VM at the moment and I doubt any of the other contributors will want to drop everything to try this.

[2015-11-18 19:35] vonnieda commented on #1
It looks like I can probably spin up a 32 bit Windows VM on AWS to test
this. I'll try that this evening and let you know.

On Wed, Nov 18, 2015 at 5:21 AM, phrack <notifications@github.com> wrote:

[2015-11-20 06:34] vonnieda commented on #1
Adding x86 does seem to fix it, and doesn't break anything else. I'll do a new release tomorrow or this weekend.

[2015-11-20 12:30] phrack commented on #1
That's great to hear! Thank you so much for being on top of this.

[2015-11-20 17:17] #1 closed

[2015-11-20 17:24] vonnieda commented on #1
v2.4.11-2 has been released to central with the suggested change. Thanks for the bug report!

[2015-11-24 21:34] vonnieda commented on #1
@phrack Have you tried the new release? Curious if it solves the problem for you.

[2015-11-24 21:44] phrack commented on #1
Users are reporting that it has solved the problem. Thanks!

[2015-11-24 21:45] vonnieda commented on #1
Glad to hear it!

On Tue, Nov 24, 2015 at 1:44 PM, phrack <notifications@github.com> wrote:

[2016-05-01 00:09] mafagafogigante opened #4 "Develop seems to be the default branch even though it does not act as the master branch"
Correct me if I'm wrong @vonnieda, but this seems like a mistake. Usually the "default" branch is the trunk, the branch where things that were approved are going into.

However, you have develop - which makes a confusing name for a master branch - as your default one. And also, master seems to be more up-to-date than develop, which further confuses me.

[2016-05-03 15:49] vonnieda commented on #4
Hi @mafagafogigante, the branches for the project are as expected, I think:

master: released code
develop: in development, not yet released

I tend to keep develop the default branch to indicate that this is where pull requests and new code go. I see now that your pull request that I merged the other day was to master, not develop. I had not noticed that when reviewing it.

My typical process is

[2016-05-03 15:57] mafagafogigante commented on #4
Then it is as one would expect (it makes sense).

I got tricked by the number of commits and some details of the tree and thought that I should request into master, as it seems to be more usually done.

[2016-05-03 15:57] #4 closed

[2016-08-15 16:11] phrack opened #5 "Unable to delete temporary DLL on Windows due to AccessViolationException"
This issue is alive and well on every version of Windows: https://github.com/PatternConsulting/opencv/issues/10.

[2016-08-15 16:12] phrack opened #6 "Package OpenCV 2.4.13"
2.4.13 contains v4l bug fixes that are very important on Linux.

[2016-08-15 16:14] phrack opened #7 "Package OpenCV 3.1"
Would be wonderful to have OpenCV 3 packaged as nicely as this repo does it. OpenCV 3 is faster and contains more complete Java bindings than 2.

[2016-08-15 17:55] vonnieda commented on #7
I tried to move to OpenCV 3 a while back but all of the Java tests were completely broken. Have you built OpenCV 3.1 with Java bindings and found it to be stable?

[2016-08-15 18:06] vonnieda commented on #5
If someone can come up with working fix for this, I'd be happy to integrate it :) Otherwise it will take a while until I can find some time to do this work on Windows.

[2016-08-15 18:08] phrack commented on #5
My project can probably spend some time on a PR for this since it's really annoying for our users. Packaging binaries for Windows/Linux/Mac less so.

[2016-08-15 18:26] vonnieda commented on #5
That would be awesome! I am planning to work on new binaries soon - just swamped with a cross country move right now and don't have time.

[2016-08-15 18:29] phrack commented on #5
I just did that two weeks ago. I understand. I will check into OpenCV 3.1 stability too.

[2016-08-16 00:18] phrack commented on #7
It compiles cleanly on Arch using this PKGBUILD to "cheat": https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=opencv-java. Notice that it uses a patch for gcc6 -- that's because OpenCV doesn't compile in its current form with gcc6 because it can't find standard headers like stdlib.h, but it should with gcc5.

[2016-08-16 00:19] phrack commented on #7
Actually, looks like the gcc6 error is fixed in master: https://github.com/opencv/opencv/issues/6517.

[2016-08-16 00:42] phrack commented on #7
I don't know when they'll release again, they seem due, but I can confirm master with Java bindings is building cleanly with gcc6.

[2016-08-18 01:29] phrack commented on #5
I've done a little bit of experimenting here and using a custom classloader that will get garbage collected, as the other repo issue suggests, just isn't going to be reliable. You can't guarantee when the garbage collector will actually run even with `System.gc` or how extensive the collection will be. In fact, `System.gc`, which is the only real illusion of control over garbage collection, doesn'

[2016-08-18 23:13] phrack commented on #6
@vonnieda, do you got this or should I try to shove a PR your way? May take a bit more effort because it turns out 2.4.13 doesn't compile with gcc6 for the same reason 3.1 doesn't.

[2016-08-19 17:21] vonnieda commented on #6
@phrack I will try to get a new release done this weekend. I've just finished moving house and am working to catch up on everything now.

[2016-08-20 17:30] phrack commented on #6
Awesome, looking forward to seeing the new package. I hope your move went well.

[2016-08-22 05:31] vonnieda commented on #6
2.4.13-0 has now been released!

[2016-08-22 05:31] #6 closed

[2016-08-22 11:53] phrack commented on #6
Awesome, thanks! Works great on Windows and Linux for me (haven't tried Mac yet).

[2016-12-06 07:06] gedaiu commented on #7
when you'll release the OpenCV 3 package?

[2016-12-06 14:15] vonnieda commented on #7
@gedaiu I'll see about getting a release together this week. I had been hoping that OpenCV would release a new version soon but who knows when it will be. It's been almost a year since the last 3.x release.

[2016-12-07 08:27] gedaiu commented on #7
thanks!

[2016-12-10 17:41] vonnieda commented on #7
@gedaiu @phrack I started working on this, but unfortunately it's currently not possible to build 3.1.0 on MacOS Sierra, which is what I am running due to this issue: https://github.com/opencv/opencv/pull/7159

The issue is fixed in the head of OpenCV, but since they have not released that yet I won't build a package for it.

So, it looks like we will need to wait for the next version of the 3.x l

[2016-12-10 17:44] vonnieda commented on #7
Here is some discussion about the release of 3.2. It was supposed to be released by May, then in Q4 2016. Q4 is almost up, so we can hope, but maybe not hold our breath :)

http://answers.opencv.org/question/101612/is-there-any-enthusiasm-for-making-point-releases-311/

[2016-12-14 17:51] vonnieda opened #10 "libstdc++ versioning issues"
From time to time people have trouble getting the opencv binaries working on Linux due to either libc incompatibility or just different distros. Currently a user is having trouble running the 2.4.11 distribution under Wheezy 32 bit because Wheezy uses eglibc and we're expecting libc 6.

I'd like to determine if it's possible to static link everything into the opencv binaries so we can avoid this i

[2016-12-23 22:56] vonnieda commented on #7
Looks like OpenCV 3.2 was released today, so I will see about getting it packaged up next week!

[2016-12-27 03:42] vonnieda commented on #7
3.2.0-0 has been released! Please give it a try and let me know if you run into any issues.

[code]

[2016-12-27 03:42] #7 closed

[2016-12-27 05:06] vonnieda commented on #10
Okay, doing further research into this and learning some things. This is a problem with the new 3.2.0 binaries just released, too, so it's high priority now.

Static linking libc is not the answer, but making sure we link against an old enough version of libc should work since they remain backwards compatible for a long time.

By doing strings `libstdc++.so.6 | grep LIBCXX` (in /usr/lib/x86_64-lin

[2016-12-27 05:07] vonnieda commented on #10
Note: Travis CI is using Ubuntu 12.04, so the new builds fail there, too.
https://docs.travis-ci.com/user/ci-environment/
https://travis-ci.org/openpnp/openpnp/builds/186893373#L1465
http://stackoverflow.com/questions/10354636/how-do-you-find-what-version-of-libstdc-library-is-installed-on-your-linux-mac
http://unix.stackexchange.com/questions/120380/what-c-library-version-does-my-system-use
https

[2016-12-27 05:49] vonnieda commented on #10
A trusted advisor suggests supporting back to Ubuntu 14.04 and calling that good.

[2016-12-27 06:40] vonnieda commented on #10
Summary of learnings so far:

libstdc++ uses symbol versioning. Symbol versions are the 3.4.x stuff and every symbol version will need to be present.
readelf -a libopencv_java320.so  | grep GLIBCX gets us the symbol versions in the library. For the 3.2.0-0 release it is showing 11, 15, 9, 20, 21, 4. Since 21 is the highest, I would expect it to fail on any machine where 21 was not available and in

[2016-12-27 06:48] vonnieda commented on #10
Confirmed on 14.04:
	libstdc++.so.6 (GLIBCXX_3.4.11) => /usr/lib/x86_64-linux-gnu/libstdc++.so.6
		libstdc++.so.6 (GLIBCXX_3.4.15) => /usr/lib/x86_64-linux-gnu/libstdc++.so.6
		libstdc++.so.6 (GLIBCXX_3.4.9) => /usr/lib/x86_64-linux-gnu/libstdc++.so.6
		libstdc++.so.6 (GLIBCXX_3.4.20) => not found
		libstdc++.so.6 (GLIBCXX_3.4.21) => not found
		libstdc++.so.6 (GLIBCXX_3.4) => /usr/lib/x86_64-linu

[2016-12-27 15:28] phrack commented on #7
Great work, thanks!

[2016-12-27 15:29] vonnieda commented on #7
@phrack If you run into problems running on Linux please see https://github.com/openpnp/opencv/issues/10. I am planning to do another release today to address this.

[2016-12-27 15:33] phrack commented on #7
We'll probably play around on Windows first. Not sure that any of us will get to it this week. I, at least, am mostly taking the holidays off from tech.

[2016-12-27 17:26] vonnieda opened #11 "Switch to GIT LFS for binaries"
The repo is getting pretty slow with all these huge binaries in it. We should switch to LFS:
https://help.github.com/articles/working-with-large-files/
https://git-lfs.github.com

[2016-12-27 18:27] vonnieda commented on #10
3.2.0-1 has been released, which has Linux binaries built on Ubuntu 14.04.5. The resulting binaries require GLIBCXX 3.4.15 which should make it compatible with Ubuntu going back to 12.04 and Debian Wheezy. In particular, the library is now compatible with Ubuntu 14.04 which makes it work on Travis CI builds again.

[2016-12-27 18:27] #10 closed

[2016-12-30 21:31] vonnieda opened #12 "Add exposure control and codec control to OpenCV capture drivers"
We should take the time to go through the most common OpenCV capture drivers (dshow, v4l, avfoundation, I think) and add support, if possible, to control exposure and codec. The results should be submitted as a pull request to OpenCV.

For OpenPnP, the two biggest limiting factors for cameras with regards to OpenCV are controlling the auto exposure / exposure settings and being able to set the vid

[2017-01-07 01:23] vonnieda opened #13 "Try to compile in support for v4l and gstreamer"
See discussion on https://github.com/openpnp/openpnp/issues/395#issuecomment-269738114. Adding these libraries may make video capture on Linux more robust. Need to determine if these can be statically linked in.

[2017-01-09 14:39] CmdrDats commented on #12
oh my, this would be amazing to have control over. not having control over the exposure (or at least being able to turn it off 'auto') drives me up the wall...

[2017-01-25 15:18] virl opened #14 "Javadoc documentation imported from C++"
Please import Javadoc documentation for bindings from original C++ API, like https://mvnrepository.com/artifact/org.bytedeco/javacv/1.3.1 did.

[2017-01-26 15:28] virl opened #15 "JDK7/OpenJDK support"
It seems that currently published Maven artifact for this project is built using JDK8 and thus doesn't work on JDK7 or OpenJDK.

It gives following error when project compiled with it tries to use OpenCV classes on JDK7:
[code]
The rest of the same app (other classes, not related to OpenCV bindings) work on that JDK just fine.

[2017-01-26 15:35] vonnieda commented on #15
JDK 7 has been end of life since April, 2015. OpenJDK 8 has been available since 2014. Is there a reason you are still using 7?

[2017-01-26 15:37] vonnieda commented on #14
JavaDocs are bundled with the Maven artifacts. Is there something specific that is missing?

[2017-01-26 15:40] virl commented on #15
@vonnieda I'm developing project which will be working in the hosting environment I have little control, so I need maximum flexibility. In my experience of developing such java server-side projects, large IT companies prefer stable and open versions of SDK which come standard with Linux OS.

Current CentOS includes OpenJDK 7 by default.

Anyway, I don't think your bindings are using any of Java 8

[2017-01-26 15:43] virl commented on #14
Yes, the documentation itself is missing. Javadoc works — it just doesn't contain any documentation that C++ version of OpenCV have for its classes and methods.

For example Javadoc:
[code]

C++ version:
[code]

[2017-01-26 15:57] vonnieda commented on #15
@virl As I said, JDK 7 was end of lifed in April of 2015. That means it is not longer recommended for new applications. The current JDK is 8 and has been for for over 2.5 years. JDK 9 is about to be released and then we'll see 8 end of lifed.

The difficulty in doing this is that I don't control the build scripts used by OpenCV to build the OpenCV jar. I run the standard OpenCV build process and t

[2017-01-26 16:01] virl commented on #15
@vonnieda What you saying about end-of-life is true for client apps, not libraries. Most libraries (even latest versions) on Maven still use JDK 7 if they're not requiring Java 8 features.

As for build process, the JDK source and target version is specified in pom.xml. Usually you do not need to change anything else (and don't need to install JDK7 to build it, of course).

[2017-01-26 16:04] vonnieda commented on #15
@virl OpenCV does not use Maven to build, it uses Ant. I do not control the build scripts for the OpenCV part of the build, only the wrappers. So to do this we would have to patch the OpenCV build scripts before building OpenCV. Note that my pom.xml already does specify 1.7 https://github.com/openpnp/opencv/blob/develop/pom.xml#L146 but that is not the one that matters.

As I said, if you are will

[2017-01-26 16:05] virl commented on #15
@vonnieda Ok thanks for reply.

[2017-01-26 16:33] vonnieda commented on #14
We just bundle the JavaDocs that are created by the OpenCV build process. In the OpenCV build there is a step that examines the C++ and generates Java files from it. If I remember correctly, this generator will only pull in the docs that are specifically marked for JavaDoc. JavaCV effectively does the same thing but they seem to do it for all the docs.

So, if we want to do this we'd need to eithe

[2017-01-26 16:44] vonnieda commented on #14
Actually, it looks like something might have changed from 2.4 to 3.2.

Bundled docs from 2.4.13:

![screen shot 2017-01-26 at 10 39 02 am](https://cloud.githubusercontent.com/assets/1182323/22340637/ba329882-e3b3-11e6-9699-1e584a175fda.png)

Bundled docs from 3.2:

![screen shot 2017-01-26 at 10 39 21 am](https://cloud.githubusercontent.com/assets/1182323/22340653/c52c96e8-e3b3-11e6-8a11-2ba28bc5c

[2017-01-26 17:00] vonnieda commented on #14
Looks like OpenCV 3 switched to Doxygen documentation and I suspect the Java generator was never updated to use it. http://docs.opencv.org/trunk/d4/db1/tutorial_documentation.html

Example of difference in docs in the source code from 2.4 to 3.2:

2.4:https://github.com/opencv/opencv/blob/2.4/modules/imgproc/include/opencv2/imgproc/imgproc.hpp#L624

3.2: https://github.com/opencv/opencv/blob/maste

[2017-01-26 17:17] vonnieda commented on #14
Okay, looks like this is an OpenCV 3.2 issue: https://github.com/opencv/opencv/issues/8011

[2017-01-26 17:19] vonnieda commented on #14
And here is the real issue: https://github.com/opencv/opencv/issues/4286

From that issue: "After moving to doxygen, documentation for python and java is not generated anymore. This process should be reworked from scratch."

So it looks like this is going to take someone working with OpenCV to get this rewritten.

[2017-01-28 00:13] virl opened #16 "Closeable implementation for all OpenCV classes"
Currently native OpenCV objects are freed (deleted) in finalize() method on GC sweep.

But in reality (during intensive use) there happens the situation when GC haven't finalized these objects (because there is still plenty of Java Heap), but OpenCV crashes due to exhaustion of native resources.

So please implement Closeable interface (with close() method) for each OpenCV class that have Java bin

[2017-01-28 01:25] virl commented on #16
Also
'''
System.gc();
System.runFinalizers();
'''
is NOT workaround, because it does not guarantee finalization running.

Properly implemented close() method is needed, that can be called several times on same object.

[2017-01-28 03:12] virl opened #17 "CascadeClassifier exception"
"Unrecognized or unsupported array type in function cvGetMat":
[code]
Source (Kotlin):
[code]
What is strange is that that code has been called thousands of times for the images of the same format, but the exception occurs only from time to time.

[2017-01-28 03:15] virl commented on #17
Maybe I wrongly construct Mat()?
[code]
Does the cols and rows correspond to image width and height? Or are they must be multiplied by the channels?

[2017-01-28 03:38] virl commented on #16
Although it seems crashes are due to #17.

[2017-01-28 17:06] vonnieda commented on #16
Hi @virl, I suggest you post this to the OpenCV issues list at https://github.com/opencv/opencv. This project is little more than just a packaging of the OpenCV bindings. The change you are looking for would have to be on OpenCV itself.

[2017-01-28 17:06] #16 closed

[2017-01-28 17:06] vonnieda commented on #17
Hi @virl, I suggest you post this to the OpenCV issues list at https://github.com/opencv/opencv. This project is little more than just a packaging of the OpenCV bindings. The change you are looking for would have to be on OpenCV itself.

[2017-01-28 17:06] #17 closed

[2017-02-13 12:20] fouadkada opened #18 "getting java.lang.NoClassDefFoundError when running jar"
Hey,

I am using your project to include opencv 3.2.0 in my project
I am using maven in my project.
The issue that I am facing is that when i use "mvn install" to generate a jar file and then run the jar file "java -jar app.jar" i get the following error:
[code]

below is an extract of my pom.xml file
[code]

and below is an extract of my class that has the main method:

[code]

any idea what migh

[2017-02-13 14:40] vonnieda commented on #18
I think you need the maven dependency plugin. See https://github.com/openpnp/openpnp/blob/develop/pom.xml#L231 for example.

[2017-02-13 15:43] fouadkada opened #19 "VIDEOIO(cvCreateFileCapture_AVFoundation (filename)): raised unknown C++ exception!"
Hey,

I am facing the following issue with VideoCapture.open(url)
`VIDEOIO(cvCreateFileCapture_AVFoundation (filename)): raised unknown C++ exception!`

when I built opencv using cmake and then make and then make install that problem was not there.
only when i switched to using maven that this problem appeared.

what might be the issue?

[2017-02-13 15:45] vonnieda commented on #19
What version of OS X are you running?

[2017-02-13 15:45] #18 closed

[2017-02-13 15:46] #15 closed

[2017-02-13 15:46] fouadkada commented on #19
I'm on el capitan 10.11.6

[2017-02-13 15:48] vonnieda commented on #19
What type of file are you trying to open? If you can post an example file that displays the behavior somewhere online that will be helpful.

[2017-02-13 15:52] fouadkada commented on #19
I am trying to open an rtsp url.
something more or less like the following:

[code]

the rtsp url comes from a wowza server running locally.
when i use the opencv 3.2.0 built manually everything works as expected.

Do you think this would cause issues on other architectures? because I am planning on running this code on an amazon ec2 instance running amazon linux

[2017-02-13 15:55] vonnieda commented on #19
It will depend a lot on which codecs are compiled in to the build, and may depend on if the required codecs are installed on the target machine. I suggest you distribute your own build of opencv with your application to be sure. This package does not include very many codecs as it's primary purpose is machine vision, not video decoding. I suspect that the error you are getting is due to ffmpeg not

[2017-02-13 15:58] fouadkada commented on #19
I am sure that what I need requires ffmpeg, how can I create a PR that has ffmpeg included since I am really interested in the convenience of maven

[2017-02-13 16:03] vonnieda commented on #19
See https://github.com/openpnp/opencv/blob/develop/RELEASE.md for the instructions that I follow when building a release. If you can update that with information about how to build with ffmpeg (and other required dependencies) then I will do a new release based on that. You may also want to take a look at https://github.com/openpnp/opencv/issues/13 since it is also a request for more included libr

[2017-02-13 16:23] vonnieda commented on #5
Note: The JNA loader does something similar, but takes it a step further by adding a marker indicating which file should be deleted. I like this method and we should adopt it: https://github.com/java-native-access/jna/blob/master/src/com/sun/jna/Native.java#L1192

[2017-04-01 14:27] sidf opened #20 "ARM support"
Hello,

Are there any plans towards adding ARM support (Raspberry PI) ?

[2017-04-01 17:06] vonnieda commented on #20
No, not at the moment. I'd be happy to accept a pull request for it, but I'm not planning to start building it myself.

[2017-06-12 11:40] rajesh-rt opened #21 "OpenJDK 64-Bit Server VM warning - EC2 war file"
Hello,

I have added maven dependency in a servlet, generated a war file and deployed it on tomcat running in AWS EC2 instance. I loaded the library by calling:  **nu.pattern.OpenCV.loadShared();**

But I'm getting the following warning at the time loading the shared library.

OpenJDK 64-Bit Server VM warning: You have loaded library /var/cache/tomcat8/temp/opencv_openpnp8944603593498400654/nu/pat

[2017-06-12 13:02] vonnieda commented on #21
This warning can be pretty much ignored. See https://groups.google.com/forum/#!topic/fusionreactor/iRsnTT3al04. If it concerns you, I would welcome a pull request to fix the build process.

[2017-07-18 17:54] vonnieda commented on #20
Merged in #22.

[2017-07-18 17:54] #20 closed

[2017-07-18 17:55] vonnieda commented on #12
Have decided to address this in the OpenPnP Capture Library which is under development. See https://github.com/openpnp/openpnp/issues/448 and https://github.com/openpnp/openpnp-capture

[2017-07-18 17:55] #12 closed

[2017-07-18 17:55] vonnieda commented on #13
Have decided to address this in the OpenPnP Capture Library which is under development. See https://github.com/openpnp/openpnp/issues/448 and https://github.com/openpnp/openpnp-capture

[2017-07-18 17:55] #13 closed

[2017-07-26 18:54] tsigalko18 opened #23 "OpenCV Extra Modules"
Hello,

are there any possibilities for packaged versions including the extra modules in the near future?
For instance, those available at [https://github.com/opencv/opencv_contrib](https://github.com/opencv/opencv_contrib) ?

Thank you

[2017-07-30 17:28] vonnieda commented on #23
No, not currently. If someone is interested in providing a pull request that would include instructions to build them I'd be happy to include them in the future.

[2017-07-30 17:28] #23 closed

[2017-09-14 17:51] aji4032 opened #24 "Incorrect Value for "Core.NATIVE_LIBRARY_NAME""
Hi,

I was facing the below error while trying to use Highgui.imread(String) function:
"java.lang.UnsatisfiedLinkError: org.opencv.highgui.Highgui.imread_1".

On searching, I found out that I might have to use "System.loadLibrary(Core.NATIVE_LIBRARY_NAME);" to load the library. But now, it gives the below error:
"java.lang.UnsatisfiedLinkError: no opencv_java248 in java.library.path"

The jar file

[2017-09-14 18:58] vonnieda commented on #24
Hi @aji4032,

Did you call loadShared() first? Typically you should load this library like this:

[code]

Try that and let me know if you are still having problems.

In addition, unless you actually need features from 3.x, I recommend using 2.4.13 instead. The Java bindings for 3.x are pretty buggy.

[2017-09-16 14:32] vonnieda commented on #24
Hi @aji4032,

A few things:

This works for me:

[code]

using this Maven dependency:

[code]

I'm not sure why you are getting an error that opencv_java248 is not available when you are calling for opencv_java2413. It makes me think you either have a broken Maven dependency or are using non-Maven version of the library.

If you are using Maven, can you please just zip up your entire test project

[2017-10-01 01:09] vonnieda commented on #24
Closing as this doesn't seem like a library issue. Feel free to reopen if you still are having trouble.

[2017-10-01 01:09] #24 closed

[2017-10-26 16:24] nicolas-rempulski opened #25 "OpenCV Java bindings memory and performance issues"
Hi,

I was trying your 3.2.0-1 packaging (thanks so much for that !) and I noticed once again, like any opencv java binding I ever tried, huge memory consumption. I looked around and it seems that some patches have been proposed to fix this issue with java bindings :

https://github.com/sgjava/install-opencv#install-opencv pointing to https://github.com/sgjava/opencvmem

A patch is proposed in the

[2017-11-08 09:09] lvivtotoro opened #26 "VideoCapture fails to open on any video file"
All I am doing is create a VideoCapture instance, passing the URI to the video file
but `VideoCapture::isOpened` returns false.

This seems to happen no matter which video file I use.

[2017-12-20 14:02] rajesh-rt commented on #26
This is working on my local PC. But when I make a executable jar and run it on any other PC, isOpened() is always returning false. Even open() is also returning false. I'm using 3.2.0-1 version.

[2017-12-26 12:26] Thaval opened #27 "Missing classes"
Hi,

im currently working on object detection and it seems like all tracker classes are missing, respectively, the whole tracking api.

See: [https://docs.opencv.org/3.1.0/d9/df8/group__tracking.html](url)

[2018-01-02 07:46] fakd23 opened #28 "Current MavenCentral distribution is missing ARM package (3.2.0-1)"
*Problem*:
The latest JAR-File published on mavenCentral (**3.2.0-1**) is missing the **ARM package**. Hence using this dependency on an ARM architecture is missing dependencies. Building this version locally, the package is included and the library works fine. Hower I would prefer not maintaining a local build.

*Solution*: re-upload the latest build to the central repository

[2018-01-05 10:00] mgrl commented on #5
hi,  just looked through the project and found an commit addressing the isse described here and I in openpnp/#699:
https://github.com/openpnp/opencv/commit/469786039642517901cb72fff48466a5159d55d6#diff-cc2450ddb977c98e67b0eaa70c4aaa92R372

the commit was merged but I can't find the code in the local copy my eclipse is using. why is this?
![unbenannt](https://user-images.githubusercontent.com/38684

[2018-01-16 21:16] mdagraca opened #29 "Java crash when video capture is released"
Hi,
I'm developing a system using your lib version 3.2.0-1, Java 1.8.0_51 and OSX 10.11.6 but I have an error when the video capture objects are release.

My code is:
[code]
When the object is release java crash and a log is generated (attached)
[hs_err_pid13503.log](https://github.com/openpnp/opencv/files/1636796/hs_err_pid13503.log)

I replaced your lib with  opencv 3.3.1 jar and the same happen

[2018-01-17 03:48] vonnieda commented on #29
Hi @mdagraca,

The OpenCV version is the one named in the jar version. So, 3.2.0-1 is OpenCV 3.2.0, jar version 1. Jar version 2 would be 3.2.0-2, and so on.

I do not run into this issue with my code, although I am using 2.4.11-2 in my project. Could you try with that version and see if you get the same thing?

For reference, the code I use is basically identical to yours: https://github.com/open

[2018-01-17 21:21] mdagraca commented on #29
Thanks Jason.
I think there is something wrong with the threads. I'm testing it.
The videoCapture is opened when the user clicks on the start button (JavaFX) and released when the user clicks on the stop button.

[2018-03-15 18:37] sinusee commented on #21
I got the following warning:
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by nu.pattern.OpenCV$SharedLoader (file:/home/martin/.m2/repository/org/openpnp/opencv/3.2.0-0/opencv-3.2.0-0.jar) to field java.lang.ClassLoader.usr_paths
WARNING: Please consider reporting this to the maintainers of nu.pattern.OpenCV$SharedLoader
WARNING: Use --illegal-acc

[2018-03-21 17:19] mdagraca opened #30 "VideoCapture.open always returns false in Windows 10"
VideoCapture.open works fine with your lib version 3.2.0-1, Java 1.8.0_51 and OSX 10.11.6 but when I run it in Windows 10, it always returns false.
The code line is
`boolean open = this.videoCapture.open(cameraId); `
I tested it with cameraId 0 and 1 (integrated camera and webcam) and in both cases returns false.
When I debug in Eclipse, the camera blinks and videoCapture returns false.
The camera

[2018-03-23 23:06] league55 commented on #30
+1
I try to open video.
Previously it worked with just opencv 331 jar, I'm  trying to migrate to your artifact as it is on Maven repo, but it currently just returns false

[2018-04-03 15:02] JeremyKeusters opened #31 "ARM Support not working?"
Hi,

I need to get OpenCV working on a Raspberry Pi (via Docker), but it's really difficult to get this right with the native libraries. This is why I was looking into alternatives like OpenPNP. This works perfectly on my laptop, but when I try to run it on my Pi, it says;

`java.lang.UnsupportedOperationException: Architecture "arm" is not supported.`

I was looking into the past issues and pull

[2018-04-03 15:03] JeremyKeusters commented on #31
Seems like #28 is also about this issue. Sorry for creating a new issue about this.

[2018-04-03 15:05] JeremyKeusters commented on #28
+1 on this issue! Really in need of this!

[2018-04-03 15:23] #31 closed

[2018-05-23 16:48] mdagraca opened #32 "videoCapture.get(Videoio.CAP_PROP_FPS) returns 0"
I'm using your lib version 3.2.0-1, Java 1.8.0_51 and I test my app in OSX 10.11.6 and Windows 10
I use this line:
                   videoCapture.get(Videoio.CAP_PROP_FPS);

to get the webcamera fps. In OSX, it works fine but in Windows 10, it returns 0.
Why?

[2018-05-24 14:03] mdagraca commented on #32
OK, thanks

[2018-06-01 21:36] null-dev opened #33 "Library does not function Java 10"
Loading of native libraries fail on Java 10 as the format for the `UnsatisfiedLinkError` exception message has changed slightly.

Instead of:

[code]

it is now:

[code]

This will cause the check here to fail: https://github.com/openpnp/opencv/blob/a25eb08ed7f6985421c22f476229d0197e4f35a5/src/main/java/nu/pattern/OpenCV.java#L198

[2018-06-20 06:21] arungoyal opened #34 "java.lang.UnsatisfiedLinkError: org.opencv.videoio.VideoCapture.VideoCapture_2(I)J"
Hi

I am facing below issue while running a sample code, just accessing VideoCapture instance.
java.lang.UnsatisfiedLinkError: org.opencv.videoio.VideoCapture.VideoCapture_2(I)J

I am working on Ubuntu and have open CV 3.4 installed properly.
I already set all class paths in environment variables as below :

OPENCV_HOME="/home/.../softwares/opencv-3.2.0/"
OPENCV_LIB="/home/.../softwares/opencv-3.2

[2018-06-21 02:42] vonnieda commented on #34
Hi @arungoyal, can you please post the full error + stack trace?

[2018-06-21 03:56] Artgit opened #35 "OpenCV Java JNA wrapper and memoty leaks"
I use the following OpenCV Java JNA wrapper:

	<dependency>
		<groupId>org.openpnp</groupId>
		<artifactId>opencv</artifactId>
		<version>3.2.0-1</version>
	</dependency>

According to the application logic, I need very often to convert `Mat` to `BufferedImage` and viсe versa. In order to do this - I use the following functions:

	private BufferedImage mat2BufferedImage(Mat matrix) throws Exceptio

[2018-06-21 10:12] arungoyal commented on #34
Hi

Exception in thread "main" java.lang.UnsatisfiedLinkError: org.opencv.videoio.VideoCapture.VideoCapture_2(I)J
	at org.opencv.videoio.VideoCapture.VideoCapture_2(Native Method)
	at org.opencv.videoio.VideoCapture.<init>(VideoCapture.java:54)
	at com.example.demo.Hello.main(Hello.java:16)

above is the full stack trace
I also attached a sample java class as well.
[Hello.txt](https://github.com/o

[2018-08-04 17:30] vonnieda commented on #35
Sorry for the long response time on this - yes, you need to call Mat.release() for any Mat you create. OpenCV bundles a finalize method, but these often don't get called, so best practice is to release it yourself.

[2018-08-04 17:30] #35 closed

[2018-08-04 17:40] vonnieda commented on #11
Probably never going to do this...

[2018-08-04 17:40] #11 closed

[2018-08-04 17:52] vonnieda commented on #25
Hi @nicolas-rempulski, sorry for the very long response to this issue. Did you make any further progress with this? I'm working on doing new releases and am thinking about including this patch.

[2018-08-04 20:15] vonnieda commented on #25
Alright, after reading https://github.com/sgjava/opencvmem and doing some experimentation of my own, I don't think there is any need for a change. Unfortunately, until the Java platform supports something better than finalize(), we don't have a good way to free native memory automatically.

So, users should call Mat.release() when they are done with a Mat, and rely on finalize()  to clean up the n

[2018-08-04 20:15] #25 closed

[2018-08-04 20:31] vonnieda commented on #19
I've decided not to include ffmpeg in this distribution. It's difficult enough to keep up with releases of OpenCV itself - adding other artifacts just isn't going to happen.

[2018-08-04 20:31] #19 closed

[2018-08-04 20:31] #21 closed

[2018-08-05 03:38] vonnieda commented on #30
I've just released version 3.4.2-0, please try this and see if it resolves the issue.

[2018-08-05 03:39] vonnieda commented on #29
I've just released version 3.4.2-0, please try this and see if it resolves the issue.

[2018-08-05 03:39] vonnieda commented on #28
I've just released version 3.4.2-0, please try this and see if it resolves the issue.

[2018-08-05 03:40] vonnieda commented on #26
Sorry, these builds do not include ffmpeg, which is probably required to decode video.

[2018-08-05 03:40] #26 closed

[2018-08-05 03:40] vonnieda commented on #34
I've just released version 3.4.2-0, please try this and see if it resolves the issue.

[2018-08-06 05:41] arungoyal commented on #34
Hi @vonnieda

Thanks for replying. I'll check and let you know.

[2018-08-18 14:16] hurschler opened #36 "opencv_imgproc342 in java.library.path after update to the new version"
Hi

I use opencv 3.4.2 as a part of dl4j.
Now after my update I got this error:

Caused by: java.lang.UnsatisfiedLinkError: no opencv_imgproc342 in java.library.path

	at org.bytedeco.javacpp.Loader.load(Loader.java:882)
	at org.bytedeco.javacpp.helper.opencv_core$AbstractArray.<clinit>(opencv_core.java:109)
	at org.datavec.image.loader.NativeImageLoader.streamToMat(NativeImageLoader.java:256)
	at

[2018-08-18 14:28] vonnieda commented on #36
Hi @hurschler, are you sure that you are using org.openpnp.opencv and not another package? This package does not use bytedeco.javacpp and I don't see any references to this package in your repo: https://github.com/deeplearning4j/deeplearning4j/search?utf8=%E2%9C%93&q=openpnp&type=

Thanks,
Jason

[2018-08-18 18:29] hurschler commented on #36
In the Code that I use is a NativeImageLoader Class (org.datavec.image.loader.NativeImageLoader). And this Class create another Class new Mat() -> org.bytedeco.javacpp.opencv_core. The static initialization process try to load a native lib. And I think its a part of opencv wich is not found (opencv_core$AbstractArray.<clinit>(opencv_core.java:109)).

Exception in thread "main" java.lang.Unsatisfie

[2018-08-18 18:31] hurschler commented on #36
Ok sorry maybe it's the wrong opencv project right?

[2018-08-18 20:08] vonnieda commented on #36
HI @hurschler, yes, wrong project I'm afraid. I think you are looking for this one: https://github.com/bytedeco/javacv

Thanks,
Jason

[2018-08-18 20:08] #36 closed

[2018-08-19 19:48] JeremyKeusters commented on #28
Thanks for your work on this, but I unfortunately don't have the right testing environment anymore to test the fix.. :(

[2018-08-19 21:31] vonnieda commented on #28
Fair enough @JeremyKeusters, thanks for getting back to me.

[2018-08-19 21:31] #28 closed

[2018-08-22 15:51] vpetit35 commented on #33
Yes I faced that same problem when migrating to java10.

I've tried to write my own OpenCV.class for a quick workaround but
``final InputStream binary = nu.pattern.OpenCV.class.getResourceAsStream(location);`` resulted as a nullPointer when called from my custom OpenCV.class (I am still curious how to deal with that classloader problem to get it right btw).

So I've rebuild the jar, after fixing t

[2018-09-03 20:11] martinfluchmfmfmf opened #37 "UnsatisfiedLinkError on MAC with Maven using CascadeClassifier"
Hi,

is there anybody who can give me a hint whats the reason for the following error:

[code]

my test class has
[code]

my pom.xml references
[code]

the relevant code seems to be
[code]

CascadeClassfiers are part of opencv aren't they?

Looks similar to #24, I'm using java 10

[2018-09-04 17:46] vonnieda commented on #37
Duplicate of https://github.com/openpnp/opencv/issues/33. The library is not currently compatible with Java 10.

[2018-09-04 17:46] #37 closed

[2018-10-30 02:15] vonnieda opened #38 "openpnp-opencv 3.4.2 requires ffmpeg installed externally"
See https://github.com/openpnp/openpnp/issues/774

[2018-10-31 22:39] rosenjcb opened #39 "UnsatisfiedLinkError"
I get this error when running my OpenCV project:

[code]

I also have this at the top of my App.java (main class):
[code]

I have not downloaded and installed opencv, but I am under the impression that this should work without having to manually install and link the lib. What should I do?

[2018-10-31 22:43] rosenjcb commented on #39
This seems to be an WSL issue. I might close this post unless someone else has other input to give.

[2018-11-02 16:47] rosenjcb commented on #39
@vonnieda Imagecodecs is not a usable import if I use version 2.4.11-2

[2018-11-09 20:29] salamanders opened #40 "Unable to load on OS X / IntelliJ with either loadLocally() or loadShared()"
Starting from Maven:

[code]

nu.pattern.OpenCV.loadShared()

[code]

nu.pattern.OpenCV.loadLocally()

[code]

Anything special I should be doing beyond the POM dependency?

[2018-11-09 20:35] vonnieda commented on #40
@salamanders Are you using Java 10? See #33

[2018-11-09 21:10] salamanders commented on #40
I didn't think I was - even though I have 10 on my system, I thought it was all executing with 1.8.
Removing 10 to be sure...
`println(System.getProperty("java.version"))` does return "1.8.0_181"

[2018-11-09 21:50] salamanders commented on #40
I have, but I can try the older version.  (I was hoping to use 3.x)

[code]

[2018-11-09 21:52] salamanders commented on #40
Two things of note:

1. My brew is under my user (so I don't have to run it as root)  `Warning: Your Homebrew's prefix is not /usr/local.`
2. This is Kotlin.  (which shouldn't matter, it is running java under the hood)

[2018-11-13 19:21] vonnieda commented on #40
Oh, it looks like you are referring to the wrong project. In your pom you are referring to JavaCV. This project is OpenPnP OpenCV. The two are not related, and are not compatible. See https://github.com/bytedeco/javacv

[2018-11-13 19:53] salamanders commented on #40
Sorry, fixed that!
Yes I'm using JavaCV for the video decoding.
But then I'm converting to a openCvMat so I can do face recognition.  (and trying to keep track of "which Mat")

and it dies with

[code]

[2018-11-13 19:54] salamanders commented on #40
PS: I tried a soft-link, I'm still suspicious that "my homebrew being local" could be the culprit.
But no luck there.
`sudo ln -s /Users/MYUSERNAME/brew/homebrew/lib/libavcodec.58.dylib /usr/local/opt/ffmpeg/lib/libavcodec.58.dylib`

[2018-11-13 20:15] salamanders commented on #40
Wow, it compiles and runs! I had to hack it:
`sudo ln -s /Users/MYUSERNAME/brew/homebrew/Cellar/ffmpeg/4.1/lib /usr/local/opt/ffmpeg/lib`
so I'm very suspicious that someone somewhere doesn't play nice with homebrew installing in a local directory.

[2018-11-13 21:42] vonnieda commented on #40
Glad you got it sorted @salamanders. I'm hoping to get #38 fixed this weekend so hopefully people won't have to jump through this hoop.

[2018-11-13 21:42] #40 closed

[2018-11-17 03:36] vonnieda commented on #29
Closed due to no response. Please reopen if you are still having this issue.

[2018-11-17 03:36] #29 closed

[2018-11-17 03:36] vonnieda commented on #30
Closed due to no response. Please reopen if you are still having this issue.

[2018-11-17 03:36] #30 closed

[2018-11-17 03:36] vonnieda commented on #27
Closed due to no response. Please reopen if you are still having this issue.

[2018-11-17 03:36] #27 closed

[2018-11-17 04:00] vonnieda commented on #33
This is fixed in https://github.com/openpnp/opencv/commit/29f5eb0294bd16f6da09515d655ccf5449ea95d8. I'm also working on fixed #38 and once that's fixed I will do a new release to take care of both issues.

[2018-11-27 13:45] leolimajr opened #41 "Some classes are missing"
Hi all,
I'm using the latest 3.4.2-1 release and looks like some classes are missing.
Ex:
```org.opencv.xfeatures2d.SIFT```
But those are part of [3.4.2](https://docs.opencv.org/3.4.2/javadoc/org/opencv/xfeatures2d/SIFT.html) javadoc.
Am I doing something wrong?

[2018-11-27 14:05] NesbiDevelopment commented on #41
SIFT and SURF are patented algorithms which are no longer included in core opencv installations.
See: https://www.pyimagesearch.com/2015/07/16/where-did-sift-and-surf-go-in-opencv-3/

I'm not well-versed enough to say if there are licence or similar problems with including them here.
But I'd recommend using another feature extractor, like BRISK.

https://docs.opencv.org/3.4.4/javadoc/org/opencv/fe

[2018-11-27 15:14] vonnieda commented on #41
Yea, just as @NesbiDevelopment said. I can't justify the risk of including patented algorithms in this package.

[2018-11-27 15:14] #41 closed

[2018-11-27 15:30] leolimajr commented on #41
@vonnieda @NesbiDevelopment that is more than enough argument for me.  I didn't know that. Thanks for clarifying it.

[2018-12-15 12:48] zcaudate opened #42 "upgrading to opencv 4.0"
are there any plans to support the opencv 4.0 releases?

[2018-12-18 04:35] vonnieda commented on #42
I'm not sure, to be honest. Probably at some point, but it's quite difficult to manage multiple versions at once. Do you think 4.x replaces 3.x or do we need to maintain both?

[2018-12-29 11:49] #42 closed

[2019-01-15 12:52] fgrebe opened #43 "UnsatisfiedLinkError: opencv_java342.dll: Can't find dependent libraries (Windows Server 2012R2)"
### Describe the Issue
With version 3.4.2-1 I'm getting a UnsatisfiedLinkError.
In my code I have tried `OpenCV.loadShared();` and `OpenCV.loadLocally();`

Note that it is working fine on a Windows 8.1 but on Windows Server 2012 R2 (x64) the exception occurs, probably due to some libraries that are not present ona server system, similar to the ffmpeg bug(?).

Java version is 1.8.0_191.
### Steps t

[2019-01-19 20:17] vonnieda commented on #43
Hi @fgrebe, does installing the Media Feature Pack resolve the issue? Or is that not an option for you?

[2019-01-22 09:31] fgrebe commented on #43
Hi, unfortunately that's not an option in our configuration/setup.

[2019-01-23 01:16] vonnieda commented on #43
Hi @fgrebe,

I don't have any current plans to remove this dependency. Due to the complexity of building OpenCV on Windows, I don't actually build the binaries myself - I just use the prebuilt ones from the OpenCV distribution. For me to remove this dependency I'd have to build it myself as part of the release process and that's quite a bit of work.

If this is important to you, or others, please

[2019-01-23 16:49] fgrebe commented on #43
Thanks for the clarification.
We already had the feeling that we would have to build it ourselves to get rid of the dependency.
Should I have any new information on how to build the binaries myself I'll share it here.

[2019-04-25 04:36] martinschneider opened #44 "Error "Failed to get field handle to set library path" when using Java 12"
When calling `OpenCV.loadShared();`:

[code]

I think the problem lies [in this line](https://github.com/openpnp/opencv/blob/develop/src/main/java/nu/pattern/OpenCV.java#L252) but I'm not entirely sure how to fix it.

Is this a known issue?

[2019-05-10 01:30] vonnieda commented on #44
Hi @martinschneider, no, this isn't a known problem. This library tends to be a little bit fragile when it comes to new Java versions, so there is probably some tweaks that need to be made. If you are able to come up with a compatible fix that would be very welcome! Otherwise, I will look at this as soon as I have some time.

Thanks,
Jason

[2019-06-10 11:23] Maurice-Mueller commented on #44
The same error for me. When I'm testing with OpenJDK 10 it is loading but I get the following warning:

[code]

[2019-06-21 17:41] rlking commented on #44
Instead of `OpenCV.loadShared();` you can use `OpenCV.loadLocally();` if it's appropriate for your project. In JDK10+ they restricted the reflective access so it won't work anymore.

[2019-07-02 19:09] markmaker opened #45 "nu.pattern.OpenCV.SharedLoader.SharedLoader() diagnoses Exception by Message - Fails on OpenJ9 - SOLUTION"
Hi

As discussed here:
https://groups.google.com/d/msg/openpnp/p2xiolO3pf0/XeOrKAXfBQAJ
we cannot use OpenJDK+OpenJ9 for OpenPNP due to some class loader issue with OpenCV.

I found the reason.

`nu.pattern.OpenCV.SharedLoader.SharedLoader()` diagnoses the exception by looking at the message. The message is slightly different with OpenJ9, therefore the exception is not correctly recognized and the

[2019-07-02 19:36] markmaker commented on #45
Workaround (until this Issue is fixed):

1. Run OpenPNP with OpenJDK8+Hotspot.
2. While OpenPNP is still running, search the temporary directory for the OpenCV shared library (e.g. `%TEMP%\opencv_openpnp*\nu\pattern\opencv\windows\x86_64\opencv_java342.dll` on Windows)
3. Copy the file into one of your PATH directories (I used HOMEDIR`/maven/bin`)
4. Close OpenPNP.
5. Change the JRE to OpenJDK8+Op

[2019-07-10 09:44] wujun234 opened #46 "Is there any chance upgrading to openCV 4.+ ?"

[2019-07-10 16:33] vonnieda commented on #46
Please see comments on https://github.com/openpnp/opencv/issues/42. I'll ask the same question: Do you think we need to maintain 2.x, 3.x, and 4.x or does 4.x supplant the rest?

[2019-07-10 19:58] AuligPromotions commented on #44
I get the same error on Java 11.0.3. Problem is I need to use Java 11, so any ideas on how to fix this?

[2019-07-11 02:14] wujun234 commented on #46
I think keeping the old 2.x and 3.x in the maven repository is enough,  cause there must be a reason for openCV to release a huge new version.

[2019-07-15 18:24] vonnieda commented on #44
I have some changes in the works that will hopefully solve this problem permanently. I am looking at changing how the library is loaded to the same method that JNA uses, and this should remain compatible across JDK updates.

[2019-09-22 22:13] pafmercuri commented on #38
@vonnieda is VideoCapture now working? Because I cant get it to work.
Thank you!

[2019-09-23 14:24] vonnieda commented on #38
@pafmercuri Details?

[2019-10-25 04:01] Delilovic commented on #46
Unfortunately version 3.4.2 does not work with object detection. the 3.4.7 (currently offered on https://opencv.org/releases/)  version fixes the issue (can confirm this my self):

https://github.com/opencv/opencv/issues/12441

[2019-10-29 07:33] michelriondel opened #48 "java.lang.UnsatisfiedLinkError: no opencv_java320 in java.library.path running two Java VM's on the same Windows Server"
Hi

We use your Maven Project and it runs very well.
We use the Maven Project:
<dependency>
	<groupId>org.openpnp</groupId>
	<artifactId>opencv</artifactId>
	<version>3.2.0-0</version>
</dependency>

And Initialize the OpenCV Libraries like that
/**
 * Load the OpenCV Library once static
 */
	static {
		nu.pattern.OpenCV.loadShared();
	}

From the documentation on the github mainpage I understand,

[2019-10-29 09:13] michelriondel commented on #48
Hi there

short update from my side.. If we copy the jar file that includes opencv to two locations and run those separate jar files we don't get any issues. I guess that is as described solving the temp directory problem.

regards Michel Riondel

[2019-11-05 03:08] vonnieda commented on #46
Thanks @Delilovic. I'll work on getting a new release out soon.

[2019-11-05 03:13] vonnieda commented on #48
Thanks for the report @michelriondel. I bet that what is happening is that https://github.com/openpnp/opencv/blob/develop/src/main/java/nu/pattern/OpenCV.java#L377 causes the second instance to delete the files from the first. I hope to switch to a better native library loader in the future (https://github.com/openpnp/opencv/issues/44#issuecomment-511515533) and hopefully that would resolve this a

[2019-11-26 10:00] Mak1seKuri5u opened #49 "jvm crashed becuase of SIGSEGV"
when my app call org.opencv.core.MatOfByte.toArray(),occured an error lead to jvm crash.
Problematic frame:
 C  [libc.so.6+0x1543e5]  __memcpy_ssse3_back+0x45

[2019-11-28 05:52] #49 closed

[2020-02-10 07:28] stagging18 commented on #34
Hi All,
I am facing the same issue with opencv_320.
While i am running the same code with eclipse it is working fine.
But while creating a fat jar of my project and running it from command line i am getting the below exception.

Exception in thread "Thread-1" java.lang.UnsatisfiedLinkError: org.opencv.videoio.VideoCapture.VideoCapture_3()J
        at org.opencv.videoio.VideoCapture.VideoCapture_3(

[2020-03-15 00:17] brainstorm commented on #46
@vonnieda I would just support 4.x, deprecating all previous ones TBH.

[2020-04-01 02:25] Ortega-Dan commented on #46
yeap

[2020-04-12 18:43] vonnieda commented on #46
4.3.0-0 is now released. Note that support has been permanently dropped for 32 bit Linux due to the difficultly of maintaining such an old version, and this release does not include the Raspberry Pi binary. This will added in a sub-release shortly.

[2020-04-12 18:43] #46 closed

[2020-04-12 18:46] vonnieda commented on #14
Closing this as won't fix. Maintaining this distribution is already incredibly difficult and time consuming. I'm not going add more complexity to it. If OpenCV ever fixes this issue the documentation will be included automatically. So, until then...

[2020-04-12 18:46] #14 closed

[2020-04-12 23:33] vonnieda commented on #43
Closing as won't fix. Please feel free to reopen is a fix is found.

[2020-04-12 23:33] #43 closed

[2020-04-12 23:34] vonnieda opened #51 "Update Loader to JNA"
This is a placeholder for updating the binary loader to the JNA loader used in e.g. https://github.com/openpnp/openpnp-capture-java. This fixes a number of issues, so I wanted to collect them all in one place.

It should fix:
- #45
- #48
- #44
- #5

[2020-04-15 02:10] vonnieda opened #52 "Test, ignore."

[2020-04-15 02:10] #52 closed

[2020-04-29 14:02] Googulator opened #53 "Cannot load native binary on latest OpenSUSE or SLES release due to GLIBC 2.27 dependency"
The latest OpenSUSE only ships GLIBC 2.26. No plans to ship 2.27 or newer in any 15.x release, and no supported way to upgrade.

[2020-04-29 14:43] vonnieda commented on #53
Do you know if there is a way to build against an older version on a system with a newer version? I'd be happy to build against 2.26, or whatever, if I can do it on a modern distribution.

[2020-04-29 15:08] Googulator commented on #53
Best way I found is https://github.com/wheybags/glibc_version_header.

[2020-04-29 15:46] vonnieda commented on #53
That is a great resource - thank you! I'll give it a try and release a new version if it works.

[2020-04-29 16:56] vonnieda commented on #53
Note to self: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Linux_compatibility_matrix

[2020-05-03 12:16] kasius75 opened #55 "Unable to open / write video file / stream on Linux"
The Linux lib is not built using video framework when looking at the cmake.log, resulting no video can be used:
[code]
You should build with ffmpeg, gstreamer and DC1394 support (like this on Ubuntu 18.04):
[code]

[2020-05-03 16:54] vonnieda commented on #55
See comments in https://github.com/openpnp/openpnp/issues/774. ffmpeg is not included for legal reasons, and because I haven't found a way to statically link it. You can install it manually and it should work.

[2020-05-03 19:35] kasius75 commented on #55
FFmpeg is already installed on my system and it does not work. I had to rebuild opencv to be able to use videos with it. I understand the license issue, but at this state, the linux version is almost useless without video support. Maybe you have to warn about it.

[2020-05-26 01:26] bmnds opened #57 "Extra modules"
Is it possible to load extra modules like the [Face Analysis](https://docs.opencv.org/4.3.0/db/d7c/group__face.html) one?

Great project by the way!

[2020-06-24 18:54] ohbus opened #58 "Add Continuous Integration"
Add workflow for CI using Jenkins or GitHub Actions to automate stuffs.

[2020-06-26 08:44] poorvajappja opened #60 "How to use Opencv with java for linux ?"
I added the opencv's native library for windows.

but, how can I add the opencv's native library for both linux 32 bit and 64 bit?

How to use Opencv with java for linux ?

[2020-06-27 16:49] vonnieda commented on #60
Easiest way is just to use the Maven dependency, and then everything is taken care of automatically on all supported platforms: https://github.com/openpnp/opencv#project

[2020-06-27 16:49] #60 closed

[2020-07-09 22:31] wfaithfull commented on #55
:+1: I also just discovered this today while trying to port an old OpenCV project to use this. This kills the usefulness of this library because the application revolves around `VideoCapture`, and without FFMPEG support it can't open anything. I already have FFMPEG installed, of course

[2020-07-14 08:38] MrTob opened #61 "OpenPnP on Raspberry"
is there any solution for running OpenPnP on a Raspberry ?

[2020-07-14 10:10] brainstorm commented on #61
Yes, experimental, over here: https://github.com/CCHS-Melbourne/openpnp-kiosk

Future releases are dependent on https://github.com/openpnp/opencv/pull/56 getting finished up so that the re-compiling and release process is seamless for all architectures.

[2020-07-16 09:03] Saibot900 commented on #28
Is there any solution for using the ARM Package with OpenCV Version under 3, so we can use SIFT/SURF?

[2020-07-18 20:41] Jotschi commented on #55
I think I also ran into the same problem.

The `open` method always returns false for me.

[code]
I'm using this version on debian linux (x86_64)

[code]

[2020-07-18 20:50] Jotschi commented on #55
Short update:

I was able to solve my issue by using the lib from the `libopencv4.2-jni` debian package.

I load the lib via `System.loadLibrary("opencv_java420");` and added `-Djava.library.path=/usr/lib/jni/` to my start parameters.

@vonnieda I'm not sure why you did not compile with video support but I think it would be enough to add a hint / note / warning to the readme that informs about thi

[2020-08-11 06:33] josephincture opened #62 "Facial Recognition using Fisher Faces..?"
Does this have support Facial Recogntion using Fisher faces?

[2020-08-11 08:30] ian-arkver commented on #62
This is a set of Java bindings for upstream OpenCV maintained for the openPnP community. Since it pulls in the upstream OpenCV jar, it should support everything that's in that, which as of at least version 4.3.0 seems to include some support for Fisher faces:
https://docs.opencv.org/4.3.0/da/d60/tutorial_face_main.html

Face recognition is obviously not used for openPnP, so your question would pro

[2020-08-13 12:28] enwi commented on #55
I am having the same issue on windows. Is it also not included there?

[2020-10-02 22:47] wtsiamruk commented on #21
The warning is still present in 2020

[2020-10-29 09:48] sergigp commented on #57
This will be super useful tbh

[2020-11-04 23:40] i-make-robots opened #64 "fails to open mjpeg stream"
Hello!  Thanks for the maven repo.  Very helpful!

opencv build settings from your package: https://pastebin.com/X34yqQQG
minimal case: https://pastebin.com/U3FtdCtm

Tried Videoio.CAP_ANY, CAP_FFMPEG, CAP_GSTREAMER, CAP_IMAGES... none work.
Meanwhile someone in irc#opencv said they could make it work with phython.
so I assume it's the repo, somehow.

Hint, please?

[2020-11-04 23:40] i-make-robots opened #65 "fails to open mjpeg stream over http"
Hello!  Thanks for the maven repo.  Very helpful!

opencv build settings from your package: https://pastebin.com/X34yqQQG
minimal case: https://pastebin.com/U3FtdCtm

Tried Videoio.CAP_ANY, CAP_FFMPEG, CAP_GSTREAMER, CAP_IMAGES... none work.
Meanwhile someone in irc#opencv said they could make it work with phython.
so I assume it's the repo, somehow.

Hint, please?

[2020-11-05 18:17] i-make-robots commented on #65
sorry for the duplicate.

[2020-11-05 18:17] #65 closed, assigned to nobody

[2020-11-05 18:45] i-make-robots opened #66 "Javadoc missing?"
in Eclipse, created pom file and used

[code]

[2020-12-10 20:57] serivesmejia opened #67 "Illegal access when loading native lib on 4.3.0-2"
[code]
JRE 11
the application runs completly fine but i feel this issue should still be addressed to avoid future problems on prior java versions.

[2020-12-30 07:17] vonnieda commented on #45
Fixed in #54

[2020-12-30 07:18] #45 closed

[2020-12-30 07:18] #62 closed

[2020-12-30 08:13] #44 closed

[2020-12-30 08:32] vonnieda commented on #67
Unfortunately we can't avoid this warning in Java 9-11, but it is gone in 12+.

[2020-12-30 08:32] #67 closed, assigned to nobody

[2020-12-31 18:02] martinschneider commented on #44
Thanks a lot for fixing this!

[2021-02-16 20:59] IvanLuchkin commented on #44
I am still getting this error in JDK15 with Gradle, OpenCV 4.3.0-3. I would be very thankful for some assistance. Thank you.

[2021-02-17 09:17] xam-ps opened #68 "OpenCV 4.5 binding"
The current 4.3 version of OpenCV is not working on MacOS 11 (Big Sur). Is there already a timeline when openpnp/opencv will be released in version 4.5.x?

[2021-02-17 16:00] vonnieda commented on #68
I've been slow about upgrading to Big Sur, so I haven't seen this. What kind of problem are you seeing?

[2021-02-17 16:14] vonnieda commented on #44
Two questions:

1. What operating system?
2. Can you show a log of the error happening?

Thanks,
Jason

On Tue, Feb 16, 2021 at 2:59 PM Ivan <notifications@github.com> wrote:

[2021-02-17 16:50] xam-ps commented on #68
Sorry for the confusion. Just figured out, that not Mac OS was the problem, but my Java version. After the Big Sur update my Java Version was set to 13. After setting it back to 11, openpnp/opencv is now working again. Thanks for your help anyways!

[2021-02-17 16:50] #68 closed, assigned to nobody

[2021-02-22 12:24] PB-TW opened #69 "Custom Font for putText"
When using Imageproc.putText, only the predefined HERSHEY fonts can be used. For Python, there exists the Freetype module which allows custom TTFs to be used:

https://fireant.github.io/misc/2017/01/28/ttf-opencv.html
https://docs.opencv.org/4.3.0/d9/dfa/classcv_1_1freetype_1_1FreeType2.html

Please add support for this or is there another way of using custom fonts in Java?

[2021-03-06 18:42] vonnieda commented on #61
Maven builds now include support for aarch64 / arm64 as of 4.3.0-4.

[2021-03-06 18:42] #61 closed

[2021-03-06 18:42] vonnieda commented on #58
This is now done in https://github.com/openpnp/opencv/blob/develop/.github/workflows/build.yml

[2021-03-06 18:42] #58 closed

[2021-03-06 18:43] vonnieda commented on #51
No need to do this anymore as a workaround was found. The library now works properly on all current versions of Java.

[2021-03-06 18:43] #51 closed

[2021-03-18 07:48] maheshrajus opened #72 "Why libjpeg 6b lib present in 4.3.0-2 opencv jar dependency as it is not used. By default libjpeg-turbo using in opencv from 3.4.2 version"
Hi OpenPnp/OpenCv community,

Why libjpeg (version 6b lib) present in 4.3.0-2 opencv jar dependency as it is not used. By default libjpeg-turbo using in opencv from 3.4.2 version.
Reference: https://github.com/opencv/opencv/tree/master/3rdparty
[code]
If libjpeg usage option is removed from OpenCV 4.0 version why we are maintaining it in JAR package.
[code]
libjpeg 6b version has some vulnerabilit

[2021-03-18 14:49] vonnieda commented on #72
See https://github.com/openpnp/opencv/blob/develop/.github/workflows/build.yml#L259 for the build command being used, and let me know (or submit a PR) if there are changes that will help with this.

[2021-04-25 11:23] JimeFuture opened #73 "Failing with loadShared as well as loadLocally on Raspberry pi 4 with Raspberry OS 32 Bit"
Hello,

i'm pretty much new in the OpenCV world. I tried this packgae to avoid all the manual installation and manual building for each target. For Windows targets it's working fine. But when i try to run it on my Raspberry pi 4 running Raspberry OS 32 bit loadLocally() and loadShared() are both failing. I there somthing i must do in addition to be able to run it on the Raspberry?
I#ve not install

[2021-04-25 18:32] vonnieda commented on #73
@JimeFuture Are you using 4.5.1-2? 32 bit ARM support was just added in the most recent version and has been confirmed working through CI tests and user tests.

[2021-04-26 07:34] JimeFuture commented on #73
@vonnieda Thx for your answer. It actually worked with the newest Version. I just had the "old" 4.5.1-0

[2021-04-26 15:24] vonnieda commented on #73
Glad to hear it!

[2021-04-26 15:24] #73 closed, assigned to nobody

[2021-04-27 15:49] peterkronenberg opened #74 "Include ffmpeg"
According to https://forum.opencv.org/t/error-in-java-cant-find-starting-number-in-the-name-of-file/3014/2, I need opencv_videoio_ffmpeg452_64.dll.  Is there any reason it's not part of the packaging?

[2021-04-30 02:18] vonnieda commented on #57
I think this is now included with the latest release - 4.5.1-2. Can you give it a try?

[2021-04-30 02:18] vonnieda commented on #74
Please see other issues in this repo with regards to ffmpeg. In brief: I don't know of a way to statically link it into the binary, and it is a lot of work to try to include it. I'm open to PRs to the Github Actions scripts that fix this.

[2021-04-30 02:19] vonnieda commented on #69
I'm open to PRs that add support for this.

[2021-04-30 02:45] peterkronenberg commented on #55
I have also not yet been able to find a way to get this to work.  Tried -Djava.library.path and -Djna.library.path, but neither seems to work

[2021-04-30 02:47] peterkronenberg commented on #74
Thanks.  I just saw the other issue.  Would be nice if you at least documented this and explained exactly how to set things up and where to get the correct version of ffmpeg.   And are these other cavets as well, where the maven version is not complete?

I'm still having a problem and can't get it to work, even if I tried to point to ffmpeg using -Djava.library.path or -Djna.library.path.  Accordi

[2021-05-03 13:56] peterkronenberg commented on #74
Figured out my problem.  I thought the dll needed to be on the classpath, but it needs to be on the path (or in the same directory as the application)

[2021-05-13 18:15] deanbrok commented on #55
@Jotschi Hi, thank you for sharing your answer, however, are you still using this Maven package in addition to `libopencv4.2-jni` ? Or did you have to remove the Maven package first and then add `libopencv4.2-jni`?

[2021-05-13 19:28] Jotschi commented on #55
@deanbrok I have not changed my setup and it works with /usr/lib/jni and debian package opencv4.2-jni (4.2.0+dfsg-6+b4).

[2021-05-13 19:33] deanbrok commented on #55
@Jotschi Thanks for such a quick reply! So you are no longer using Openpnp's Maven package? And I'm planning to deploy the app on a Docker image, I imagine your solution would work fine there too?

[2021-05-13 20:36] Jotschi commented on #55
@deanbrok I'm still using
[code]

If you provide the same libopencv4.2-jni package in your container image it should work. I'm not aware of any other working solution.

[2021-05-14 03:01] deanbrok commented on #55
@Jotschi Thank you for the help! I will try out your solution.

[2021-06-25 16:55] charlesritchea commented on #21
I'm pretty sure this will become more than a warning in Java 17 which is right around the corner and LTS

[2021-06-25 16:58] wtsiamruk commented on #21
Right...

[2021-06-25 17:00] wtsiamruk commented on #21
@vonnieda could you give a little more details of what should be fixed in the build process?

[2021-07-09 14:55] ssoper opened #76 "Missing values in TextDetectionModel resolved by upgrading to OpenCV 4.5.3"
Hey all, just want to start out by saying how much I appreciate the incredible work you folks have put into creating an up-to-date Java interface to OpenCV. While investigating the use of TextDetectionModel_DB I kept seeing my models fail due to the value of `size` going missing in between setting it and using it in `processFrame` in [model.cpp](https://github.com/opencv/opencv/blob/4.5.1/modules/

[2021-07-28 11:48] aman13garg opened #77 "CvException [org.opencv.core.CvException: cv::Exception: OpenCV(4.5.1) /Users/runner/work/opencv/opencv/opencv-4.5.1/modules/imgproc/src/templmatch.cpp:1163: error: (-215:Assertion failed) (depth == CV_8U || depth == CV_32F) && type == _templ.type() && _img.dims() <= 2 in function 'matchTemplate' ]"
at org.opencv.imgproc.Imgproc.matchTemplate_1(Native Method)
at org.opencv.imgproc.Imgproc.matchTemplate(Imgproc.java:7119)
at qa.justtestlah.visual.OpenCVTemplateMatcher.match(OpenCVTemplateMatcher.java:84)
at qa.justtestlah.visual.OpenCVTemplateMatcher.match(OpenCVTemplateMatcher.java:52)
at qa.justtestlah.base.BasePage.findImage(BasePage.java:143)
at qa.justtestlah.base.BasePage.hasImage(BasePa

[2021-08-11 03:08] nsadeh opened #78 "Java crashes with exit code 134 when attempting to set t"
**Description**: in version 4.5.1-2 of this codebase attempting to call any of the `void` setter methods for necessary parameters as documented https://docs.opencv.org/4.5.2/javadoc/org/opencv/dnn/Model.html on a `DetectionModel` instance (a subclass of `Model`) causes Java to crash with exit code 134. Calling these methods on a `Model` object is OK, as is calling the same methods that return `Mod

[2021-08-11 13:33] nsadeh commented on #78
Update: OpenCV has confirmed this gets fixed between 4.5.2 and 4.5.3 so an update would be much  appreciated :)

[2021-08-11 13:33] nsadeh commented on #76
Registering my support for this sentiment, running into https://github.com/openpnp/opencv/issues/78 which is another issue that gets solved by updating. Thank you!

[2021-08-31 14:48] ssoper commented on #76
looks like there is a [new version out](https://github.com/openpnp/opencv/releases/tag/v4.5.3-0)

[2021-08-31 14:49] vonnieda commented on #76
@ssoper That new version is posted and hopefully with help with this issue. I was not yet able to get it uploaded to Maven due to a certificate error. Still working on that.

[2021-09-15 14:05] senolatac commented on #76
@vonnieda any update for new maven version?

[2021-10-08 14:54] samsieber commented on #53
Would you accept a PR moving the build workflow steps to use docker to build the linux artifacts (I'm mostly interested in the x86_64 linux builds)? I think that by building it on a CentOS 7 docker image (CentOS 7's EOL is 2024), that'll extend the glibc support all the way back to 2.17

[2021-10-08 14:57] vonnieda commented on #53
If it fixes the issue and doesn't break anything else, that's fine with me.
It actually already builds with Docker. Can we just change the image name?

Jason

On Fri, Oct 8, 2021 at 9:54 AM Sam Sieber ***@***.***> wrote:

[2021-12-01 19:49] charlesritchea opened #79 "Elaborate on how to use this with Java 17"
Now that loadShared is essentially deprecated, and I assume many people using that method, like myself, have no idea how to get the exact version of opencv needed built in their Dockerfile to be used by loadLocally. Can we get an example Dockerfile or any further instructions on how to setup an environment that works with loadLocally. Maybe I'm dumb, but I don't understand what is needed from just

[2021-12-07 08:49] csfedorov opened #80 "Add version 4.5.3 to maven repository"
The last version on maven site 4.5.1-2
https://mvnrepository.com/artifact/org.openpnp/opencv

But in git 4.5.3
https://github.com/openpnp/opencv/releases/tag/v4.5.3-0

Please, update maven repository version to 4.5.3

[2022-02-16 10:34] mafaul opened #81 "Operating system "OSX" and architecture "ARMv8" are not supported."
On Apple Mac OS X with M1 chip, I cannot run OpenCV.loadShared();

Error message: Operating system "OSX" and architecture "ARMv8" are not supported.

Native support would be great, but in the meantime just don't block it and let Rosetta handle it please.

[2022-03-07 09:27] vatbub commented on #57
Hey :) I came here also looking for the extra modules and they don't seem to be included in 4.5.1-2

![grafik](https://user-images.githubusercontent.com/13379225/157004053-e3a79fbe-820d-46d5-85b6-3491c611be5f.png)

[2022-05-05 13:27] leotu commented on #80
Please add version 4.5.5

https://github.com/opencv/opencv/releases/tag/4.5.5

[2022-05-18 17:18] lynnwilliam commented on #81
Any resolution to this?

[2022-05-25 00:39] lynnwilliam commented on #74
Can you give a specific example of this please?
I got the dll required and want to know where you placed them relative to the other dlls in the project ?
Could you paste the paths please?

[2022-05-25 16:46] lenaschimmel commented on #81
There is a fork by @brainstorm that adds support for OSX / ARMv8: https://github.com/brainstorm/opencv

I'm not sure about the state of that fork. It seems that building succeeded once, but they never actually published the artifacts.

I'm currently looking into that, and if I find a resolution, I will let you know.

As far as I know, you can only load x86 libs using Rosetta if your whole process,

[2022-05-25 17:52] lynnwilliam commented on #81
Thanks for the reply, I will make a production DMG file and get someone to
test it on M1 Silicon Chipset.
After its built for X86 etc.
Since I don't have one myself,

On Wed, May 25, 2022 at 11:46 AM Lena Schimmel ***@***.***>
wrote:

--

William Lynn
MSc Software Development
BSc Software Development
BSc Computer Science

[2022-05-26 03:55] brainstorm commented on #81
It works for me :)

See https://github.com/CCHS-Melbourne/openpnp-kiosk and [this issue comment](https://github.com/openpnp/openpnp-capture/pull/47#issuecomment-1100576011) for proof.

I wish @vonnieda and/or @markmaker would merge it in though, along with related PRs and the CI improvements. That would ease up redistribution massively and potentially have even android phones running OpenPnP in th

[2022-05-26 04:30] vonnieda commented on #81
Sorry @brainstorm - I was [under the impression](https://github.com/openpnp/openpnp-capture/pull/47#issuecomment-1079781408) that there was still work to be done. Is there something waiting for merge that I can just merge?

[2022-05-26 04:41] brainstorm commented on #81
My apologies @vonnieda, that might have come out wrong and I might have failed to update you on progress... I think that setting aside unforeseen integration issues that are hard to test unless it's tested/merged by third parties, it should be fairly ready to merge/test by you and/or @markmaker.

TL;DR: It might break on your hands, but fixes should not be super tricky (not publishing objects some

[2022-05-26 08:12] markmaker commented on #81
Just FYI, I'm only merging stuff in the openpnp / openpnp repo. I don't know a thing about JNI etc. 🥴

[2022-05-26 22:21] vonnieda commented on #81
@brainstorm Sorry if I'm being dense here - what specifically do you want me to merge? Is there a PR or something I've missed? Can you be quite specific, and maybe give me a link?

[2022-05-27 00:29] brainstorm commented on #81
Sure! At this point in time I guess that the remaining PR required to merge from what I'm seeing is the one that removes JNAerator:

https://github.com/openpnp/openpnp-capture-java/pull/6

This PR introduces the patched aarch64 JNI binding fixes that I (sloppily for now) patch on my Dockerfile for things to work and that in my experience triggered the "ARMv8 not supported" error in the past:

http

[2022-05-30 11:40] lenaschimmel commented on #81
@brainstorm wrote:

Yes, there are still no OSX/M1 (Apple silicon) runners, but is this a problem? Cross-compiling [should work](https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary) starting from Xcode 12.2 on. I could not access [your build logs or artifacts from last year](https://github.com/brainstorm/opencv/actions/runs/1286989005), since they expired, so

[2022-06-01 04:23] brainstorm commented on #81
@lenaschimmel I suspect that I closed the PR because if artifacts are not shipped via CI it becomes yet another manual maintenance burden that not many are interested to support.

Yes, the build succeeded for aarch64/linux IIRC, but yes, your OSX issues ring a bell too... I didn't poke/test that route too much because having an (expensive!) M1 connected to a PnP is not very cost-effective for my u

[2022-06-01 07:27] ian-arkver commented on #81
@lenaschimmel I've seen SO answers about ranlib on macos complaining too much about empty library components and needing a flag to silence it. Eg. [this one](https://stackoverflow.com/a/44124990/14569828).

However your linked log file has this
`ld: warning: ignoring file ../../../3rdparty/ippicv/ippicv_mac/icv/lib/intel64/libippicv.a, building for macOS-arm64 but attempting to link with file buil

[2022-08-02 03:48] hsiong commented on #81
Perhaps try this ?

1. Unzip [m1.zip](https://github.com/openpnp/opencv/files/9238622/m1.zip) to Project Resources Root.
`unzip -o -d ~/ProjectPath/src/main/resources/opencv/m1 m1.zip`

2. Add open-cv.jar path to Project pom.xml
[code]

3. Change Open-CV initialization code to this

[code]

[2022-08-27 12:13] lynnwilliam opened #82 "OpenCV 4.5.4"
Hi , OpenCV 4.5.4 now adds native support for FaceDetection and its comparison classes.

According too
https://mvnrepository.com/artifact/org.openpnp/opencv
the highest is 4.5.1-2  from Mar 18, 2021 over 1.5 years ago.

Can we get an updated build for this please?
This is an amazing library and more people use this than you probably know.
Thank you for maintaining this repo.

[2022-08-30 22:13] vonnieda commented on #80
4.5.3 has been published. Should show up in Central within a few hours.

[2022-08-30 22:19] vonnieda commented on #5
Believe this was fixed in #9. If still experiencing please reopen.

[2022-08-30 22:19] #5 closed

[2022-08-30 22:20] vonnieda commented on #76
Sorry for the long, long delay. 4.5.3 is up and I'm in the process of adding several newer versions.

[2022-08-30 22:20] #76 closed, assigned to nobody

[2022-08-30 22:21] vonnieda commented on #78
v4.5.3 is up. Please reopen if that doesn't resolve the problem.

[2022-08-30 22:21] #78 closed, assigned to nobody

[2022-08-31 00:40] vonnieda commented on #82
4.5.4-0 has been published

[2022-08-31 00:40] #82 closed, assigned to nobody

[2022-08-31 14:31] vonnieda commented on #80
4.5.5 has also now been published.

[2022-08-31 14:31] #80 closed, assigned to nobody

[2022-09-01 19:35] vonnieda commented on #81
Apple Silicon is now supported natively in v4.5.5-1. Please give it a try and let me know if you run into any issues.

[2022-09-01 19:35] #81 closed, assigned to nobody

[2022-10-13 03:03] cole-dda opened #83 "Include opencv-contrib"
compile with opencv contrib?

[2022-10-13 14:41] vonnieda commented on #83
Builds scripts are here: https://github.com/openpnp/opencv/blob/develop/.github/workflows/build.yml

Pull requests are welcome!

[2022-10-21 14:48] hrchu opened #84 "Cannot load native library on Apple Silicon"
While loading the OpenCV native library by ` System.loadLibrary(Core.NATIVE_LIBRARY_NAME)`,`UnsatisfiedLinkError` occurred:

[code]
openCV version: 4.5.5-1
JDK version: I've tried Java 8/17/19 and have the same issue.

[2022-10-21 15:02] hrchu commented on #84
Just notice I should use `OpenCV.loadShared()`

[2022-10-21 15:02] #84 closed, assigned to nobody

[2022-11-11 12:19] qwelyt commented on #83
Opened a pull request for this. It builds for the more common platforms. (x64 mac, linux. windows) but seems to have trouble for arm an aarch. But those seem to have had trouble even before adding contrib.

Maybe you could have a look at it @vonnieda ?
Many thanks for this package btw!